.main-nav {
    background-color: plum;
    color: white;
    text-align: center;
}

.main-nav a {
    color:white;
    text-decoration: none;
}

.main-nav li {
    display: inline-block;
    position: relative;
    padding: 15px;
}

.main-nav li:hover {
    background-color: blue;
}